* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {

    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;

}

header {

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;

}

.navigation {

    margin: 0 26%;

}

.navigation a {

    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 auto;
    font-weight: 600;

}

.navigation a:hover, .navigation a.ativo {

    background: #00ffb3;
    color: #020202;

}


.titulo-projetos {

    height: 171%;
    background-image: url(/assets//fundo-gradient.png);
    background-size: cover;

}

.titulo-projetos h1 {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25%;
    color: rgb(255, 255, 255);
    font-size: 80px;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: rgb(0, 48, 85);
    letter-spacing: 2px;

}

.imagem-projetos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 10%;

}

.borda {

    padding: 0% 5% 4% 5%;
    text-align: center;
    border: 4px solid black;
    border-radius: 20px;
    background-color: #00fff225;
    color: rgb(255, 254, 254);
    font-size: 25px;

}

.borda:hover {

    transition: 1s;
    transform: scale(1.08);
    border: 10px solid rgba(0, 38, 255, 0.786);
    background-color: #1900ff40;
    border-radius: 50px;
    color: #00eeff;
    letter-spacing: 1px;
    cursor: pointer;

}

.borda:hover img {

    transition: 5s;
    transform: rotate(400deg);
    
}   

.imagem-em-andamento {

    padding: 20px 20px;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 7%;

}

.imagem-em-andamento:hover {

    transition: 5s;
    transform: rotate(400deg);

}
